.content-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-container-reverse {
    flex-direction: row-reverse;
}

.content-img {
    min-width: 250px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    margin: 0;
    float: none;
}